<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="header">
      <h1 class="header-item">Create a new article</h1>
      <h2 class="header-item">
        Use the form below to create new content for the website.
      </h2>
    </div>
    <div class="content">
      <form class="form ar-form" action="/article/add-article" method="post">
        <label for="title">Article Title:</label>
        <input
          class="form-input ar-form-input"
          type="text"
          name="title"
          required
        />
        <label for="snippet">Snippet:</label>
        <input
          class="form-input ar-form-input"
          type="text"
          name="snippet"
          required
        />
        <label for="body">Content body:</label>
        <div class="md-editor-container">
          <textarea
            class="ar-form-textarea"
            id="mdeditor"
            name="body"
            required
          ></textarea>
        </div>
        <script>
          const easyMDE = new EasyMDE({
            element: document.getElementById('mdeditor'),
            autofocus: true,
            forceSync: true,
            previewImagesInEditor: true,
          })
        </script>
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
