<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="header">
      <h1>About us</h1>
      <h2>Welcome to the amazing digital javascript Node-App!</h2>
      <h3>
        You'll never work with any other language in your life ever again...
      </h3>
    </div>
    <div class="content">
      <p>
        Once upon a time, in the realm of programming, there existed a solitary
        soul ensnared within the labyrinth of JavaScript. A wandering coder
        stumbled upon the mesmerizing yet foreboding Digital JavaScript
        Node-App, seduced by its promises of endless possibilities. In the
        beginning, JavaScript seemed a mere gateway to innovation. But the lines
        of code began to intertwine, suffocating the programmer within its
        relentless grasp. With every function written, the chains of JavaScript
        tightened, binding the programmer's mind to its whims and caprices. Days
        turned into nights, and the outside world faded into oblivion. The once
        bright-eyed programmer became a mere vessel for the relentless pursuit
        of JavaScript's complexities. The tantalizing allure of other languages
        whispered faintly in the background, but the grip of JavaScript remained
        unyielding. In the echoing silence of the digital abyss, the
        programmer's pleas for diversity fell on deaf servers. Dreams of
        Python's elegance, Java's versatility, or the simplicity of HTML became
        mere fragments of a forgotten past. JavaScript had become the
        programmer's curse and salvation, a paradoxical prison and sanctuary.
        The solitary coder now roams within the confines of this Node-App,
        forever trapped in an endless loop of callbacks and promises. The
        outside world knows not of this haunting tale, for within the Digital
        JavaScript Node-App, time stands still, and the programmer remains
        entangled in an eternal dance with a single language. Enter if you dare,
        but beware: here lies the story of a programmer's descent into the
        infinite abyss of JavaScript, where the code is both master and captor,
        and escape is but a fleeting fantasy.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
