<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    
      <header class="header">
      <h1 class="header-item">About us</h1>
      <h2 class="header-item">Welcome to Latte Journal</h2>
      <h3 class="header-item">
        A versatile and simple blog for node js experimentation
      </h3>
    </header>
    
      <main class="content">
      <p>
        Hey everyone, i'm Raphael. <br />
        I hope you enjoy your visit here and keep in mind the whole point of
        this simple blog is to experiment and practice on Node js. <br />
        The backend was built with Node + Express with a MVC type architecture,
        the front is currently being rendered using EJS as a view engine. <br />
        The database being used is mongodb on cloud, i thougth about using SQL
        based db but since i already have experience on those i thought it would
        be cool to try something different. <br />
        There's no framework for front-end since the point is practice coding on
        backend, so i tried to keep the front as minimalistic and simple as
        possible while trying to add some charm to it. Did it work?<br />
        Anyway, enjoy yourself, and if you want to check out the code you can
        find it here:
        <a href="https://github.com/cyanoblu/awesome-node-app">
          Source (Github)</a
        >.
      </p>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
