<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="header">
      <h1>Create a new article</h1>
      <h2>Use the form below to create new content for the website.</h2>
    </div>
    <div class="content">
      <form class="form ar-form" action="/articles/add-article" method="post">
        <label for="title">Article Title:</label>
        <input
          class="form-input ar-form-input"
          type="text"
          id="title"
          name="title"
          required
        />
        <label for="snippet">Snippet:</label>
        <input
          class="form-input ar-form-input"
          type="text"
          id="snippet"
          name="snippet"
          required
        />
        <label for="body">Content body:</label>
        <textarea
          class="ar-form-textarea"
          id="body"
          name="body"
          required
        ></textarea>
        <script>
          const easyMDE = new EasyMDE({
            element: document.getElementById('body'),
            autofocus: true,
            forceSync: true,
            previewImagesInEditor: true,
          })
        </script>
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
