<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="header">
      <h1>Create a new article</h1>
      <h2>Use the form below to create new content for the website.</h2>
    </div>
    <div class="content">
      <form class="form ar-form" action="/articles/add-article" method="post">
        <label for="title">Article Title:</label>
        <input
          class="form-input ar-form-input"
          type="text"
          id="title"
          name="title"
          required
        />
        <label for="snippet">Snippet:</label>
        <input
          class="form-input ar-form-input"
          type="text"
          id="snippet"
          name="snippet"
          required
        />
        <label for="body">Content body:</label>
        <div
          contenteditable="true"
          class="form-input ar-form-input"
          id="body"
          required
          name="body"
        ></div>
        <button class="submit-btn">Submit</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
