body {
  font-family: 'Inter', sans-serif;
  background-color: #f0dbaf;
  color: #57441c;
  margin: 0%;
  min-height: 100vh;
  position: relative;
  padding: 0px;
  padding-bottom: 300px;
  font-weight: lighter;
}

.header {
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 150px;
  max-width: 1280px;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}

.article {
  border-bottom: 1px solid #57441c;
  transition: all 0.1s;
}

.article:hover {
  border-bottom: 10px solid #57441c;
  transition: all 0.1s;
  margin-bottom: -10px;
}

.ar-link {
  text-decoration: none;
  color: #57441c;
}

.delete:hover {
  cursor: pointer;
  border-bottom: 10px solid #57441c;
  transition: border-bottom 0.1s;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: start;
}

.navbar-item {
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #8f6d24;
  border-bottom: 10px solid transparent;
  transition: all 0.1s ease-in-out;
}

.navbar-item:hover {
  color: #dba737;
  transition: color 0.2s;
  border-bottom: 10px solid #dba737;
}

.navbar-item-inactive {
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #8f6d24;
  border-bottom: 10px solid transparent;
}

.logo {
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #8f6d24;
  border-bottom: 10px solid transparent;
  transition: all 0.1s ease-in-out;
}

.logo:hover {
  color: #dba737;
  transition: color 0.2s;
}

#logo-image {
  margin-left: 50px;
  margin-bottom: 20px;
}

.footer {
  background-color: #57441c;
  color: #f0dbaf;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  min-height: 400px;
  margin: auto;
}

.form-input {
  padding-left: 25px;
  margin-bottom: 25px;
  width: 70%;
  height: 50px;
  background-color: #fff8dc;
  border-radius: 2px;
  border: 1px solid #57441c;
  font-size: 20px;
  font-weight: 50;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.form-input:focus {
  outline: 2px solid #dba737;
}

div.form-input {
  display: inline-block;
  min-height: 200px;
  height: fit-content;
  width: 100%;
}

.ar-form-textarea {
  padding-left: 25px;
  margin-bottom: 25px;
  background-color: #fff8dc;
  border-radius: 2px;
  border: 1px solid #57441c;
  font-size: 20px;
  font-weight: 50;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  min-height: 20%;
}

.ar-form-textarea:focus {
  outline: 2px solid #dba737;
}

#ar-content img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#title {
  align-self: self-start;
}

#snippet {
  align-self: self-start;
}

label {
  align-self: self-start;
}

.error-alert {
  border: 1px solid red;
  background-color: rgba(100, 0, 0, 0.1);
  color: #cd5c5c;
  width: 70%;
  padding-left: 30px;
}

.submit-btn {
  background-color: transparent;
  height: 45px;
  width: 140px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: -10px;
  margin-top: 20px;
  border-bottom: 10px solid #57441c;
}

.submit-btn:hover {
  cursor: pointer;
  border-top: 10px solid #57441c;
  border-bottom: 2px solid #57441c;
  transition: all 0.1s;
}

.md-editor-container {
  width: 100%;
}
