<div class="navbar">
  <div class="nav-item-wrapper">
  <a class="navbar-item" href="/">Home</a>
  <a class="navbar-item" href="/about">About</a>
  <% if (!user) { %>
    <a class="navbar-item" href="/auth/signup">Sign up</a>
    <a class="navbar-item" href="/auth/login">Log in</a>
    <% } else { %>
    <a class="navbar-item" href="/article/create-article">Create new article</a>
    <a class="navbar-item-inactive">Welcome, <%= user.name %></a>
    <a class="navbar-item" href="/auth/logout">Log out</a>
    <% } %>
  </div>
</div>
