<div class="navbar">
  <a class="logo" href="/">AMAZING NODE APP</a>
  <a class="navbar-item" href="/about">About</a>
  <a class="navbar-item" href="/articles/create-article">Create new article</a>
</div>
