<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="header">
      <h1>Sign Up</h1>
      <h2>please fill the form below to create a new account</h2>
    </div>
    <div class="content">
      <p>test</p>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
